* {
    list-style-type: none;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

#main {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidePanel {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: #0078D4;
    color: white;
    display:flex;
    flex-direction: column;
    gap:50px; 
}

#logoDiv, #uiUlDiv, #miscUlDiv {
    margin-left:20px;
    display:flex;
}

#header {
    grid-column: 2;
    grid-row: 1;
}

#content {
    grid-column: 2;
    grid-row: 2;
}