* {
    list-style-type: none;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    scale: 1.2;
}

#logoUl img, #uiUl img, #miscUl img {
  filter: invert(1);
  margin-right:15px;
}

#sidePanel li {
    margin-top:10px;
    margin-bottom: 10px;
}

#main {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

#sidePanel {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: #3883bc;
    color: white;
    font-size:20px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    gap:35px; 
}

#logoLi {
    display:flex;
    align-items: center;
}

#logoLi p {
    font-size: 25px;
}

#logoUlDiv, #uiUlDiv, #miscUlDiv {
    margin-left:35px;
    display:flex;
}

ul li a {
    display:flex;
    align-items: center;
}

#header {
    grid-column: 2;
    grid-row: 1;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#header > div {
    margin:10px;
}

#userIdDiv p {
    font-weight: bold;
}

#userIdDiv {
    gap:15px;
}

#searchDiv, #userIdDiv, #interactButtonsDiv {
    display:flex;
    align-items: center;
}
 #welcomeDiv {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

#welcomeImg {
    grid-column: 1;
    grid-row: 1 / span 2;
}

#welcomeP1 {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
    font-size: 12px;
    margin-top: 30px;
    margin-left: -20px;
}

#welcomeP2 {
    grid-column: 2;
    grid-row: 2;
    font-weight: bold;
    font-size: 22px;
    margin-left: -20px;
}

#interactButtonsDiv {
    display:flex;
}

#interactButtonsDiv button {
    margin:5px;
    background-color: #3883bc;
    height:40px;
    width:90px;
    color: white;
    border-radius: 15px;
    border: none;
}

#content {
    grid-column: 2;
    grid-row: 2;
    background-color: #E5E5E5;
}