* {
    list-style-type: none;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    scale: 1.2;
}

#logoUl img, #uiUl img, #miscUl img {
  filter: invert(1);
  margin-right:15px;
}

#sidePanel li {
    margin-top:15px;
    margin-bottom: 15px;
}

#main {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

#sidePanel {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: #3883bc;
    color: white;
    font-size:20px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    gap:30px; 
}

#logoLi {
    display:flex;
    align-items: center;
}

#logoLi p {
    font-size: 25px;
}

#logoUlDiv, #uiUlDiv, #miscUlDiv {
    margin-left:30px;
    display:flex;
}

ul li a {
    display:flex;
    align-items: center;
}

#header {
    grid-column: 2;
    grid-row: 1;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

#header > div {
    margin-right:40px;
    margin-left: 40px;
    margin-top:5px;
}

#userIdDiv p {
    font-weight: bold;
}

#userIdDiv {
    gap:15px;
}

#searchDiv, #userIdDiv, #interactButtonsDiv {
    display:flex;
    align-items: center;
}

#userIdDiv {
    justify-content: end;
}

#interactButtonsDiv {
    justify-content: space-between;
}

#searchDiv {
    display:flex;
    gap: 15px;
}

#search {
    background-color:#E5E5E5;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
}

 #welcomeDiv {
    display:grid;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

#welcomeP1 {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

#welcomeP2 {
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

#interactButtonsDiv {
    display:flex;
}

#interactButtonsDiv button {
    margin:5px;
    background-color: #3883bc;
    height:40px;
    width:100px;
    color: white;
    border-radius: 20px;
    border: none;
}

#interactButtonsDiv button:hover {
    scale:1.2;
}

#content {
    grid-column: 2;
    grid-row: 2;
    background-color: #E5E5E5;
    display:grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#content > div {
    margin:30px;
    position:relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

#sectionAnnouncements, #sectionTrending {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#projects > div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    position:absolute;
    top:-30px;
    z-index: 2; 
}

#sectionProjects {
    display:flex;   
    grid-column: 1;
    grid-row: 1 / span 2;
}

#projects {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:25px;
}

#projects > * {
    padding:30px;
}

.card {
    position:relative;
}

h3 {
    margin-bottom: 5px;
}

.icons {
    position:absolute;
    justify-content: space-between;
    width:80px;
    display: flex;
    bottom:10px;
    right:10px;
}

#sectionAnnouncements {
    display:flex;
    grid-column: 2;
    grid-row: 1;
}

#announcements {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.announcementCard {
    font-size: 12px;
    margin:15px;
}

#sectionTrending {
    display:flex;
    grid-column: 2;
    grid-row: 2;
}

#trendingItems {
    display:grid;
    height:100%;
    font-size: 12px;
    padding: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.userName p:first-child {
    font-weight: bold;
}